name: DevSecOps Pipeline - Akaunting

on:
  workflow_dispatch:

jobs:
  ci:
    name: CI - Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t akaunting-app .

  sast:
    name: SAST - Semgrep
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - uses: actions/checkout@v4

      - name: Install Semgrep
        run: |
          python3 -m pip install --upgrade pip
          pip install semgrep

      - name: Semgrep JSON
        run: |
          semgrep scan \
            --config p/php \
            --config p/javascript \
            --json \
            --output semgrep.json \
            .

      - name: Semgrep SARIF
        run: |
          semgrep scan \
            --config p/php \
            --config p/javascript \
            --sarif \
            --output semgrep.sarif \
            .

      - name: Upload SAST report
        uses: actions/upload-artifact@v4
        with:
          name: sast-semgrep-report
          path: |
            semgrep.json
            semgrep.sarif

  sca:
    name: SCA - Trivy
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - uses: actions/checkout@v4

      - run: docker build -t akaunting-app .

      - name: Trivy JSON
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: image
          image-ref: akaunting-app
          format: json
          output: trivy-report.json
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Trivy Table
        run: |
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            aquasec/trivy:latest image \
            --format table \
            akaunting-app > trivy-report.txt

      - name: Upload SCA report
        uses: actions/upload-artifact@v4
        with:
          name: sca-trivy-report
          path: |
            trivy-report.json
            trivy-report.txt

  dast:
    name: DAST - OWASP ZAP
    runs-on: ubuntu-latest

    steps:
      #  Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # Start application with Docker Compose
      - name: Start application
        run: |
          docker compose up --build -d
          sleep 90
      #  Verify application is reachable
      - name: Verify app is reachable
        run: |
          curl -I http://localhost:8000
      # Pull OWASP ZAP image (avoids warning)
      - name: Pull OWASP ZAP image
        run: |
          docker pull ghcr.io/zaproxy/zaproxy:stable
      #  Run OWASP ZAP Baseline Scan
      - name: Run OWASP ZAP Baseline Scan
        run: |
          docker run --network=host \
            --user root \
            -v ${{ github.workspace }}:/zap/wrk/:rw \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py \
            -t http://localhost:8000 \
            -r zap-report.html \
            -J zap-report.json \
            -w zap-report.md \
            -a || true
      #  Upload DAST reports
      - name: Upload DAST report
        uses: actions/upload-artifact@v4
        with:
          name: dast-zap-report
          path: |
            zap-report.html
            zap-report.json
            zap-report.md